body {
  background-color: whitesmoke;
  margin: 0px;
}

#topNav {
  background-color: gray;
  height: 10vh;
  overflow-x: scroll;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100vw;
}

#topNav > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
  height: 50%;
  min-width: 10%;
  cursor: pointer;
}

#footer {
  position: fixed;
  bottom: 0;
  background-color: gray;
  height: 7vh;
  width: 100vw;
}

.true {
  background-color: lightgreen;
}

.false {
  background-color: lightcoral;
}

.roundSelect {
  font-size: 35px;
  background-color: coral;
  display: inline;
  cursor: pointer;
}

#groupAmmount {
}

.groupDiv {
  border: solid 3px black;
  display: inline-block;
  height: 25%;
  margin-right: 10px;
}

.playerDiv {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  min-height: 40px;
}

#players {
  border: dashed 3px black;
}

.centered {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.userDiv {
  display: inline;
}
