body {
  background-color: whitesmoke;
  margin: 0px;
}

#topNav {
  background-color: gray;
  height: 10vh;
  overflow-x: scroll;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100vw;
}

#topNav>div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
  height: 50%;
  min-width: 10%;
  cursor: pointer;
}

#footer {
  position: fixed;
  bottom: 0;
  background-color: gray;
  height: 7vh;
  width: 100vw;
}

.true {
  background-color: lightgreen;
}

.false {
  background-color: lightcoral;
}